<div class="container">
  <h1>Debugging</h1>
    <form action="/cool_url" method="POST"> 
      <label for="text">where to?</label>
      <input type="text">
    </form>
    <form action="/cool_url" method="GET"> Go to Cool URL
      <input type="submit">
     
    </form>

     <form action="/cool_url" method="POST"> Go post[text entered]
     <input type="text" name="post[title]">
     
    </form>

    <form action="/cool_url" method="POST">
      <input type="text" name="post[price]">
    </form>



</div>


